#dataTableStyle {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#dataTableStyle td, #dataTableStyle th {
    border: 1px solid #ddd;
    padding: 8px;
    color: black;
}

#dataTableStyle tr:nth-child(even){background-color: #f2f2f2;}

#dataTableStyle tr:hover {background-color: #ddd;}

#dataTableStyle th {
    padding-top: 12px;
    padding-bottom: 12px;
    /* text-align: left; */
    background-color: #5eaf4a;
    color: white;
}





